:root {
}

.button {
    font-size: 58px;
    width: 35%;
    -unity-text-align: upper-center;
    align-self: center;
    align-content: auto;
    justify-content: flex-start;
    align-items: auto;
    top: 25%;
    height: 10%;
}
